/* span{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */
.start{
    display: grid;
    place-items: center;
}
.disclaimer{
    display: flex;
    justify-content: center;
}